* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#menu-form {
    color: white;
    background-color: rgb(16, 5, 117);

}

#menu-form a {
    color: white;
}

.section {
    background-color: rgb(56, 199, 224);
}

.all-form {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.label {
    display: block;
}

.container-form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 130px 80px 80px 120px 110px;
    background-color: white;
    height: 700px;
    width: 500px;
    gap: 10px;
    border-radius: 18px;
}

.Legend {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
}

.ajusta-centro {
    position: relative;
    left: 65px;
}

.Escola-position {
    position: relative;
    left: 170px;
    bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.select {
    width: 150px;
}

.botao {
    position: relative;
    left: 170px;
    bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit {
    width: 150px;
    border-style: none;
    color: white;
    background-color: rgb(56, 199, 224);
    ;
}

.size-form {
    height: 25px;
    border-radius: 5px;
}

.error-text {
    display: block;
    font-size: 11px;
    color: red;
    width: 180px;
}

.validar {
    border-radius: 0;
}